/*******************************************************************/
/********************+**+**++***+++***++**+**+**+*******************/
/******************+**++**+++ created by +++***++**+**+*************/
/****************+*+**+++ Frederica Bernkastel *+++**++**+**+*******/
/*******************************************************************/
/*************************** nipa~( =^_^= ) ************************/
/*******************************************************************/
/************** http://mir.namba.kg/personal.php?user=Mails ********/
/*******************************************************************/
/*******************************************************************/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix(http://namba.kg),
               url-prefix(http://serials.namba.kg),
               url-prefix(http://movie.namba.kg),
               url-prefix(http://mir.namba.kg),
               url-prefix(http://files.namba.kg),
               url-prefix(http://api.namba.kg/comments/comments.php)
               
{

  body{
    background:         transparent!important;
  }

  div.banner{
    display:            none;
  }

  div.banner-comments{
    display:            none;
  }

  div#banners-top{
    display:            none;
  }

  div#branding > a > div:first-of-type{
    display:            none;
  }
  div#branding{
    height:             0!important;
    margin:             5px 0px!important;
  }
  div#branding > div:first-of-type{
    display:            none;
  }

  div#banner-left > iframe:first-of-type{
    display:            none;
  }
  div.banner-left > iframe:first-of-type{
    display:            none;
  }
  div.banner-left > div > iframe:first-of-type{  /* mir */
    display:            none;
  }
  div.banner-left{
    padding-bottom:     0!important;
  }

  div#ads-full-screen{
    display:            none!important;
  }

  div#external-links.icons-main.icon-external-links{  /*...v0.3.3 fixed...*/
    top:                42px!important;
  }
  div#dialog {                                        /*...            ...*/ 
    display:            none;
  }

  div.top-line{
    background-color:   rgba(200,200,200,/*[[page_op]]*/)!important;
    border-radius:      6px 6px 0px 0px;
  }

  div.top-line > ul.authorization{
    line-height:        25px!important;
  }

  div.top_link{
    background-color:   rgba(200,200,200,/*[[page_op]]*/)!important;
    border-radius:      6px 6px 0px 0px;
  }

  div.user-avatar-container{
    padding-top:        2px!important;
  }

  ul.authorization > li.world{
    padding-top:        2px!important;
  }

  ul.authorization > li.logout{
    padding-top:        2px!important;
  }

  div#branding-html > div > object > object:first-of-type{
    display:            none;
  }
  div#branding-html > a > div:first-of-type{
    display:            none;
  }
  div#branding > div > object > object:first-of-type{
    display:            none;
  }

  div#service > div.content > a{
    display:            none;
  }

  div.panel-container.deals-banner{
    visibility:         hidden;
  }

  div#header{
    background:         rgba(0,0,0,0)!important;
  }

  div#main-menu{
    background:         rgba(100,0,100,/*[[main_menu_op]]*/)!important;
    background-image:   none!important;
    border-bottom:      2px groove #F00!important;
    border-radius:      0px 0px 6px 0px;
  }

  div#main-menu > ul.main-links > li {
    border-right:       1px solid rgb(214,100,214)!important;
  }

  li.all-services{
    border-left:        none!important;
  }

  ul.main-links > li{
    background:         none transparent!important;
  }

  ul.main-links > li > a{
    color:              #CC4186!important;
  }

  ul.main-links > li > a:hover{
    background:         none rgba(255,0,255,0.5)!important;
    color:              #FFFFFF!important
  }

  ul.main-links.active > li > a{
    background-image:   none!important;
  }

  div#border-snow {
    display:            none;
  }

  div#new_header{
    background:         rgba(0,0,0,0)!important
  }

  div#layout{
    background-color:   rgba(255,100,100,0)!important;
    border-radius:      6px;
  }
  div#service{
    background-color:   rgba(255,255,255,/*[[page_op]]*/)!important;
    border-radius:      6px;
    margin-top:         10px!important;
  }
  footer{
    background-color:   rgba(255,255,255,0)!important;
    border-radius:      6px;
  }
  div.links-row{
    background-color:   rgba(255,255,255,/*[[main_menu_op]]*/)!important;
    border-radius:      6px;
  }
  div.footer-mobile{
    background-color:   rgba(255,255,255,/*[[page_op]]*/)!important;
    border-radius:      6px;
  }

  div#body-wrapper{ 
    background:         #000000 url(/*[[bg_1]]*/) no-repeat center center fixed!important;
    background-size:    cover;
  }
  
  div#body{
    background:         #000000 url(/*[[bg_2]]*/) no-repeat center center fixed!important;
    background-size:    cover;
  }

  .icon-logo-main.logo_summer{
    background-image:   url(http://d1.files.namba.kg/files/113298681)!important;
    background-size:    55px auto;
    background-position:0px 50%!important;;
  }

  .icon-logo-main.logo_summer:hover{
    background-image:   url(http://d3.files.namba.kg/files/113298701)!important;
  }

  div#wraper2{
    background:         rgba(255,255,255,/*[[page_op]]*/)!important;
    border-radius:      6px;
  }

  div.search-container{
    background:         url(http://img.megatorrents.kg/images/968KJNx3NXjHl.png) no-repeat center center fixed!important;
  }

  body > div#footer{display: none}

  ul.namba-comments-block{
    background:         transparent!important;
  }
  div.namba-comments-head{
    background:         transparent!important;
  }
  div#namba-comments-form{
    background:         transparent!important;
  }

  textarea#namba-comments-comment.namba-comments-textarea{
    background:         rgba(140,0,255,0.25)!important;
    border-color:       #FF009D!important;
    border-style:       dashed!important;
    border-radius:      4px!important;
  }

  div.service-photo.elements-list-sidebar > ul.important-menu > li > a > div > div:first-of-type:hover{
    border:             1px dashed #FF0000!important;
    border-radius:      4px!important;
    background-color:   rgb(255,190,255)!important;
  }

  div.service-photo.elements-list-sidebar > ul.user-menu.photo > li > a > div:first-of-type:hover{
    border:             1px dashed #FF0000!important;
    border-radius:      4px!important;
    background-color:   rgb(255,190,255)!important;
  }

  div#photo-popup > div.window {
    border-radius:      6px;
  }
  div.action-time{
    color:              #000!important;
  }
  div.info{
    background-color:   transparent!important;
  }


  /*--------- mir.namba.kg ---------*/
  div#framer1{
    margin-top:         10px;
  }
  div#header-top-space{
    margin-bottom:      10px!important;
  }
  div.widget.widget_menu > ul.reset > li > a{
    background-image:   none!important;
  }

  div.uv{
    border:             1px dashed rgb(255,0,127)!important;
    margin-bottom:      24px!important;
  }

  div.uv_status{
    background:         rgba(127,64,127,0.75)!important;
    border-radius:      4px;
  }

  div.uv_menu{
    background:         rgba(255,64,127,0.5)!important;
    border-radius:      4px;
  }

  div#rightcol{
    margin-top:         10px;
  }   
  div.userpagetitle.user{
    margin-top:         10px;
  } 
  div.status > span.e{
    background-image:   url(http://img.megatorrents.kg/images/572TbyqYrREB5.png)!important;
  }

  div.offline > span{
    color:              #000!important;
  }


  /*--------- files.namba.kg ---------*/
  td.file.element {
    background:         transparent!important;
  }
  span.fade{
    background-image:   none!important;
  }
  td.size.element{
    background:         transparent!important;
  }
  td.username.element{
    background:         transparent!important;
  }

  ul.reset.basic-select{
    background:         rgba(255,0,255,0.25)!important;
    border-radius:      0px 0px 4px 4px;
  }

  table.basic-search.element{
    background:         none rgba(255,0,200,0.5)!important;
    border:             1px rgb(255,0,200)!important;
    border-radius:      4px 4px 4px 0px;
  }

  input#submitSearch.element.button{
    background:         none rgba(64,0,127,0.25)!important;
    height:             24px!important;
  }
  input#submitSearch.element.button:hover{
    background:         none rgb(64,0,127)!important;
    height:             24px!important;
    color:              #F00;
  }

  ul.upload-panel{
    background:         rgba(64,0,127,0.25)!important;
    border-radius:      4px!important;
  }
}


@-moz-document url-prefix(http://namba.kg/blogs/)
{
  div#banners-top > center > iframe{
    visibility:         hidden!important;
  }
  div#banners-top{
    height:             0!important;
  }

  div#new_header{
    background:         transparent!important;
  }

  div#body{
    background:         #000000 url(/*[[bg_3]]*/) no-repeat center center fixed!important;
    background-size:    cover;
  }
  div#content{
    padding-top:        10px!important;
  }

  div.top_link{
    background-color:   rgba(200,200,200,/*[[main_menu_op]]*/)!important;
    border-radius:      6px 6px 0px 0px;
  }

  div.top_link > div.middle{
    padding:            0px 20px 0px 157px!important;
  }

  div.user-avatar-container{
    padding-top:        2px;
  }

  div.login_link_block{
    padding:            0!important;
  }

  div#main-menu{
    background:         rgba(100,0,100,/*[[main_menu_op]]*/)!important;
    background-image:   none!important;
    border-bottom:      2px groove #F00!important;
    border-radius:      0px 0px 6px 0px;
  }

  ul.main-links > li{
    background:         none transparent!important;
  }

  ul.main-links > li > a{
    color:              #CC4186!important;
  }

  ul.main-links > li > a:hover{
    background:         none rgba(255,0,255,0.5)!important;
    color:              #FFFFFF!important;
  }

  ul.main-links.active > li > a{
    background-image:   none!important;
  }

  div#border-snow {
    display:            none;
  }

  div#external-links.icons-main.icon-external-links{
    top:                28px!important;
  }  

  li#header-video-services:hover{
    background:         rgba(200,0,200,0.75)!important;
  }

  div#branding-html > div > object > object:first-of-type {
    visibility:         hidden!important;
    height:             0px!important;
  }


  div#branding-html > a > div:first-of-type{
    height:             0!important;
  }

  div#wraper2{
    background:         rgba(255,255,255,0.75)!important;
    border-radius:      6px;
    margin-top:         10px!important;
  }

  div#layout{
    background-color:   rgba(100,100,100,0)!important;
    border-radius:      6px;
  }

  div#branding-html > div{
    height:             0;
    width:              0;
    left:               0;
    top:                0;
    visibility:         hidden;
  }

  div.banner-left{
    display:            none;
  }

  div#header-top-space{
    margin-bottom:      10px!important;
  }

  div#footer{
    visibility:         hidden;
    height:             0!important;
    margin:             0px!important;
  }

  div.block.block-popular-blog.elements{
    background-image:   none!important;
  }

  table.poll_result > tbody > tr > td.poll_total{
    background-color:   rgba(255,0,127,0.5)!important;
    border-radius:      4px;
  }

  div.licomment.licomment_hover{
    background:         rgba(255,64,64,0.5)!important;
    border-radius:      0px 6px 6px 6px;
  }

  div.uv{
    border:             1px dashed rgb(255,0,127)!important;
    margin-bottom:      24px!important;
  }

  div.uv_menu{
    background:         rgba(255,64,127,0.5)!important;
    border-radius:      4px;
  }   

  div.uv_status{
    background:         rgba(127,64,127,0.75)!important;
    border-radius:      4px;
  }

  li.tab_comm.active_comm{
    background:         none rgba(127,0,127,0.5)!important;
    border-radius:      6px 6px 0px 0px;
  }

  li.tab_comm.active_comm > div{
    background:         none transparent!important;
  }

  div.post-bottom > div.alignleft > span{
    color:              #000000!important;
  }
  div.post-bottom > div.alignright > span{
    color:              #000000!important;
  }

  a.element.write-comment{
    opacity:            1!important;
  }

  div.block.block-popular-blog.elements > ul.reset > li > div.username > div.comment{
    color:              #000!important;
  }
  div.block.block-popular-blog.elements{
    border-style:       dashed!important;
  }

  input#title.text.inp{
    background:         transparent;
    border:             1px solid;
    border-color:       #000!important;
    border-radius:      4px;
  }

  form#adminForm > ul.reset > li > label{
    color:              #000!important;
  }
  form#adminForm > ul.reset > li > div.comm_type > label:not(.lb) {
    color:              #000!important;
  }
  form#adminForm > ul.reset > li > div.entry_type > label:not(.lb){
    color:              #000!important;
  }
  div.comment_editor{
    background:         none rgba(127,127,255,0.75)!important;
  }
  table#commentblock_tbl.mceLayout{
    background:         transparent!important;
  }
  table#commentblock_toolbar1.mceToolbar.mceToolbarRow1.Enabled{
    background:         transparent!important;
  }
  table#elm1_tbl.mceLayout{
    background:         transparent!important;
  }
  table#elm1_toolbar1.mceToolbar.mceToolbarRow1.Enabled{
    background:         transparent!important;
  }
  td.mceCustomToolbar > a{
    background:         transparent!important;
  }
  td.mceCustomToolbar > a > span{
    background:         transparent!important;
  }
  iframe#elm1_ifr{
    background:         transparent!important;
  }
  iframe#commentblock_ifr{
    background:         transparent!important;
  }
  body#tinymce{
    background:         none rgba(170,127,255,0.5)!important;
  }
  form#adminForm > ul.reset > li > div.alignright > input{
    background:         none rgb(100,100,200)!important;
    border-radius:      4px;
    border:             4px solid;
    color:              #000!important;
  }
  form#adminForm > ul.reset > li > div.alignright > input:hover{
    background:         none rgb(150,150,255)!important;
    border-radius:      4px;
    border:             4px solid;
    color:              #700!important;
  }

  form#adminForm > ul.reset > li > div.alignleft > a.button.remove{
    background:         none rgb(200,100,100)!important;
    border-radius:      4px;
    border:             4px solid;
    color:              #000!important;
  }
  form#adminForm > ul.reset > li > div.alignleft > a.button.remove:hover{
    background:         none rgb(255,50,50)!important;
    border-radius:      4px;
    border:             4px solid;
    color:              #fff!important;
  }
  ul.checklist > li.odd{
    background-color:   transparent!important;
  }
}


@-moz-document url-prefix(http://files.namba.kg)
{
  form#adminForm > div.head{
    background-color:   rgba(0,0,255,0.5)!important;
  }
  div.textblock > dl > dt > a{
    background:         transparent!important;
  } 
  div.subtitle.righted{
    opacity:            0.75;
  } 
}


@-moz-document url-prefix(http://mail.namba.kg)
{
  div:not(#messages-container) > center > iframe{
    display: none;
  }
  body > div:not(#messages-container):not(#body):not(#contacts_tips){
    display: none;
  }
  div#header{
    background-color:rgb(204,231,255);
  }
}